@model IQueryable<Article>
@{
    ViewBag.Title = "Мои статьи";
}

<div class="color_block">
    <em class="bt"><b>&nbsp;</b></em>
    <div class="block_content">
        <table class="table">
            <tr>
                <td><b>Автор</b></td>
                <td><b>Название статьи</b></td>
                <td><b>Дата отправки</b></td>
                <td><b>Прикрепленные файлы</b></td>
                <td><b>Статус заявки</b></td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AuthorName</td>
                    <td>@Html.Raw(@item.Text)</td>
                    <td>@item.SendDate</td>
                    <td>
                        @foreach (File files in item.Files)
                        {
                            <a asp-area="User" asp-controller="Article" asp-action="Download" asp-route-filePath="@files.FilePath">@files.FilePath<br /></a>
                        }
                    </td>
                    <td>@item.State</td>
                </tr>
            }
        </table>
        <a asp-area="User" asp-controller="Article" asp-action="Send" class="nav-link text-dark">Отправить статью</a>
    </div>
    <em class="bb"><b>&nbsp;</b></em>
</div>



